<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.marag.dto.AllDto" alias="allDto"/>
		<typeAlias type="com.marag.dto.FilmDto" alias="filmDto"/>
		<typeAlias type="com.marag.dto.ReviewDto" alias="ReviewDto"/>
	</typeAliases>
	<mappers>
		<mapper resource="/mapper/ReviewMapper.xml" />
	</mappers>
</configuration>